html,


 *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
  background-color: black;
  min-height: 100vh;
}

.container {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);;
  border-radius: 10px;
  color:black;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.container h1 {
    font-size: 36px;
    text-align: center;
    width: 100%;
    height: 100%;

}

.form-signin {
  position: relative;
  width: 100%;
   outline: none;

  max-width: 330px;
  padding: 15px;
  margin: auto;

}

.form-signin .checkbox {
   position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, .2);
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 25%;
  font-size: 20px;

}

.form-signin .form-floating:focus-within {
   color:bisque;
  z-index: 2;
}

.form-signin input[type="Endereço de e-mail"] {
      outline: none;
      color:bisque;

  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="Senha"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="checkbox"] {
  accent-color: white;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border: none;
  border-radius: 30px !important;
  padding: 8px 42px;
  height: 42px;             
  font-size: 14px;
  font-weight: 500;
  font-weight: 500;
  border-radius: 30px !important;
}

.btn-primary:hover {
  background-color: #e6e6e6 !important;
  color: black !important;
}
#faqSection {
  display: none;
  margin-top: 40px;
}

.faq-container {
  background-color: black;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 20px;
  padding: 16px;
}
.faq-button {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  text-align: left;
  background: black;
  color: white;
  border-radius: 30px;   
  margin-bottom: 10px;
  transition: 0.3s;
}

.faq-button:hover {
  background-color: rgba(255,255,255,0.05);
}
.faq-answer {
  display: none;
  padding: 14px;
  margin-top: 8px;
  background: white;
  color: black;
  border-radius: 20px;
}

.form-control {
  border-radius: 30px !important;
  padding: 10px 18px;
  height: 42px;   
}
/* BOTÕES MAIS FINOS */
.btn-primary {
  height: 38px !important;
  padding: 4px 15px !important;
  font-size: 14px !important;
  border-radius: 30px !important;
}
.custom-input .form-control {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  border-right: none;
  border-radius: 30px 0 0 30px !important;
  color: white;
  height: 42px;
}

.custom-input .input-group-text {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  border-left: none;
  border-radius: 0 30px 30px 0;
  color: white;
}